*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}
nav{
    display: flex;
    height: 5vh;
    justify-content: space-evenly;
    align-items: center;
    position:fixed;
    width: 100%;
    background-color:#EEF1EF;
    opacity: 80%;
}
nav a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: .5s;
}
a:hover{
    color:#FFBF69;
}
section{
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home{
    display: flex;
}
.half{
    display: flex;
    
}
.left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100vh;
    background-color: #2E4756;
    border-right: #A9B4C2 solid 5px;
    

}
.left h1{
    width: 40%;
    padding-bottom: 15px;
    font-size: 4rem;
}
.left p{
    font-size: 1.5rem;
    width: 45%;
}
.right{
    background-image: url(/Components/images-videos/first.jpg);
    width: 40%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
}

#projects{
    display: flex;
    flex-direction: column;
    background-color: white;
}
#projects h1{
    display: flex;
    width: 80%;
    font-size: 4rem;
    color:black;
    padding-bottom: 50px;
    padding-right: 100px;
    font-weight: lighter;
}
.align{
    
    width: 80%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
}
h3{
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
}
.one{
    display: flex;
    justify-content: first baseline;
    align-items: center;
    background-color: #2E4756;
    border-radius: 10px;
    width: 25%;
    box-shadow: #000000d7 7px 7px;
    flex-direction: column;
}
.one img{
    display: flex;
    border: white solid 10px;
    border-radius: 10px;
    height: 30vh;
    width: 80%;
}
.one p {
    padding-top: 20px;
    text-align: center;
    width: 80%;
    font-weight: 600;
    padding-bottom: 40px;
}

.one a{
    border: white solid 2px;
    background-color: black;
    text-decoration: none;
    transition: .5s;
    width: 25%;
    height: 4vh;
    border-radius: 10px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one a:hover{
    background-color: white;
    border: black solid 2px;
    color:black;
}
.two{
    display: flex;
    justify-content: center;
    background-color: #2E4756;
    border-radius: 10px;
    width: 25%;
    box-shadow: #000000d7 7px 7px;
}
.three{
    display: flex;
    justify-content: center;
    background-color: #2E4756;
    border-radius: 10px;
    width: 25%;
    box-shadow: #000000d7 7px 7px;
}
#contact{
    background-color: darkslategray;
}
nav img{
    background-color: white;
    height: 2rem;
    width: 2rem;
}
.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
html, body {
    overflow: hidden;
}
  