*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:fixed;
    width: 100%;

}
section{
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home{
    background: cornflowerblue;
}
#projects{
    background-color: bisque;
}
#contact{
    background-color: darkslategray;
}
nav img{
    background-color: white;
    height: 2rem;
    width: 2rem;
}
.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
html, body {
    overflow: hidden;
}
  